@import 'sass/_vars.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $cream;
}

.card {
  max-width: $mobile;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  background-color: $white;
}

.card--hero-image__mobile {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.card--hero-image__desktop {
  display: none;
}

.card--content {
  padding: 25px;
}

.card--content__product {
  margin: 6px 0;
  margin-bottom: 12px;
  font-family: $font-monserrat;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 5px;
  color: $dark-grayish-blue;
}

.card--content__title {
  font-family: $font-fraunces;
  font-size: 2.2rem;
  letter-spacing: -1px;
  line-height: 1;
  margin: 0;
}

.card--content__description {
  font-family: $font-monserrat;
  font-size: 14px;
  font-weight: 100;
  color: $dark-grayish-blue;
  line-height: 1.8;
  letter-spacing: 0.2px;
}

.card--content__price {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.card--content__price-new {
  font-family: $font-fraunces;
  font-size: 2.2rem;
  color: $dark-cyan;

}

.card--content__price-old {
  font-family: $font-monserrat;
  font-size: 0.8rem;
  text-decoration: line-through;
  color: $dark-grayish-blue;
  margin-left: 25px;
}

.card--content__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-cyan;
  color: $white;
  font-family: $font-monserrat;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;

  img {
    width: 20px;
    margin-right: 10px;
  }
}

.attribution {
  color: $dark-grayish-blue;
  text-align: center;
  margin: 10px 0;

  a {
    text-decoration: none;
    color: $dark-grayish-blue;

    &:hover {
      color: $very-dark-blue;
      border-bottom: 1px solid $very-dark-blue;

    }
  }
}

@media screen and (min-width: $mobile) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
  }

  .card--hero-image {
    max-height: 100%;
  }

  .card--hero-image__mobile {
    display: none;
  }

  .card--hero-image__desktop {
    display: block;
    max-width: 100%;
    border-radius: 10px 0 0 10px;
  }

  .card--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
  }

  .card--content__title {
    font-size: 2.5rem;
    margin-top: 10px;
  }

  .card--content__description {
    font-size: 1.2rem;
  }

  .card--content__price {
    margin-top: 45px;
  }

  .card--content__price-new {
    font-size: 2.5rem;
  }

  .card--content__price-old {
    font-size: 1rem;
  }

  .card--content__button {
    font-size: 1.1rem;
    padding: 20px;
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
    }

    img {
      width: 22px;
    }
  }
}